@model IEnumerable<InAndOut.Models.ExpenseCategory>
@{
    ViewData["Title"] = "ExpenseCategoryHome";
}

<div class="container w-100 p-3 " style="display:flex;justify-content:space-between">
    <h2 class="text-primary">Expense Categories </h2>
    <div>
        <a class="btn btn-primary" asp-controller="ExpenseCategory" asp-action="ExpenseCategoryCreate" role="button">Create a new Category</a>
        @*    <a class="btn btn-primary" asp-controller="Item" asp-action="Edit" role="button">Edit Item</a>*@
    </div>
</div>


<div class="container w-100">
    @if (Model.Count() > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th class="w-20 p-3" scope="col">Id</th>
                    <th class="w-20 p-3" scope="col">Expense Category Name</th>
                    <th class="w-10 p-3" scope="col"></th>
                    <th class="w-10 p-3" scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var expense in Model)
                {
                    <tr>
                        <td class="w-25 p-3">@expense.Id</td>
                        <td class="w-25 p-3">@expense.ExpenseCategoryName</td>
                        <td class="w-10" scope="col">
                            <a role="button" class="btn btn-info" asp-for="ExpenseCategory" asp-controller="ExpenseCategory" asp-action="ExpenseCategoryUpdate" asp-route-Id="@expense.Id">Update</a>
                        </td>
                        <td class="w-10" scope="col">
                            <a role="button" class="btn btn-danger" asp-for="ExpenseCategory" asp-controller="ExpenseCategory" asp-action="ExpenseCategoryDelete" asp-route-Id="@expense.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
